# Ignore files
.ipynb_checkpoints
.DS_Store
pycache
__pycache__
py_scripts/phyloMarkers/output
*.db
*.h5ad
.RData
.Rhistory
*.html
*.hmm
*.hmm*
cache
*.pytest_cache
py_scripts/Equivalencer/results
py_scripts/ScanpyProcessing/v3_medusaGENERATION_ALLsamples_MITO_HARMONY.ipynb

