# Ignore files
.ipynb_checkpoints
.DS_Store
pycache
__pycache__
py_scripts/phyloMarkers/output
*.db
*.html
*.hmm
*.hmm*
*.png
*.txt
*.csv
*.tree
*.fasta
*.pdf
*.odg
cache
*.pytest_cache
py_scripts/ScanpyProcessing/v3_medusaGENERATION_ALLsamples_MITO_HARMONY.ipynb

